# Node modules
node_modules/

# Vite cache
.vite/

# Yarn lock file
yarn.lock

# Dist folder (build output)
dist/

# Environment variables
.env
.env.*

# IDE/Editor settings
*.log
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Chromatic and Storybook
build-storybook.log
chromatic.log
chromatic-build-*.xml
chromatic-diagnostics.json
*storybook.log
